/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
.c-breadcrumb{
	@include flex;
	margin: 6rem 0 2rem;
	@include sp{
		margin: 3rem 0 1rem;
	}
	align-items: center;
	li{
		margin-right: 16px;
		a{
			text-transform: uppercase;
			color: #000;
			text-decoration: none;
			font-size: 1.5rem;
			line-height: 18px;
			position: relative;
			img{
				width: 24px;
			}
			&::after{
				position: absolute;
				content: '';
				background-image: url(../../assets/images/up-arrow.svg);
				width: 14px;
				height: 14px;
				background-size: 14px;
				background-position: center;
				bottom: 2px;
			}
		}
		&:last-of-type{
			a{
				&::after{
					background-image: none;
				}
			}
		}
	}
}