<<<<<<< HEAD
.widget_shopping_cart_content{
    .woocommerce-mini-cart__total{
        margin-top: 2rem;
    }
    .woocommerce-mini-cart__buttons{
        &.buttons{
            @include flex-jbetween;
            margin-top: 1rem;
            .button {
                padding: 10px 15px;
            }
        }
        
    }
=======
.woocommerce-mini-cart__buttons{
  @include flex-jbetween;
  margin-top: 1rem;
  .wc-forward{
    padding: 8px 18px;
    border-radius: 3px;
    font-weight: 700;
  }
}
.widget_shopping_cart_content{
  .woocommerce-mini-cart__total{
    text-align: end;
  }
>>>>>>> 44dff52f1b7eb63a984fbaf6a7b51ffef5299d68
}