.m-search{
  background-image: url(../../assets/images/search.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 518px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 5rem;
  @include sp{
    background-size: cover;
    height: 400px;
  }
  .ttl{
    font-size: 4rem;
    margin-bottom: 3.4rem;
    @include sp{
      font-size: 3rem;
    }
  }
  &_inner{
    background: rgba(43, 41, 41, 0.7);
    border-radius: 10px;
    height: 204px;
    @include flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 50px;
    @include sp{
      padding: 0 10px;
      height: 150px;
    }
    form{
      @include flex-jbetween;
    }
    input{
      height: 45px;
      @include sp{
        height: 35px;
      }
    }
    input[type=submit]{
      width: 150px;
      height: 49px;
      font-size: 2rem;
      background-color: #EB5757;
      color: white;
      border: 0;
      font-weight: 400;
      text-transform: uppercase;
      border-radius: 5px;
      margin-left: 15px;
      &:hover{
        cursor: pointer;
      }
      @include sp{
        width: 100px;
        height: 39px;
        font-size: 1.3rem;
        margin-left: 5px;
      }
    }
    input[type=text]{
      width: calc(100% - 180px);
      padding: 0 15px;
      @include sp{
        width: calc(100% - 100px);
        padding: 0 5px;
        border-radius: 5px;
      }
    }
    padding: 0 5rem;
    ul{
      @include flex;
      margin-top: 1.7rem;
      @include sp{
        margin-top: 1rem;
      }
      li{
        margin-right: 15px;
        font-size: 1.2rem;
        color: white;
        &.key{
          background-color: #EB5757;
          padding: 0 7px;
          padding-top: 2px;
        }
        @include sp{
          line-height: 1.5;
          font-size: 1rem;
        }
        a{
          &:hover{
            cursor: pointer;
          }
        }
      }
    }
  }
  &.job{
    select{
      padding: 10px;
      margin: 0 5px;
    }
    .m-search_inner input[type=submit] {
      margin-left: 5px;
    }
    input[type=text]{
      width: calc(100% - 400px);
      padding: 0 15px;
      @include min(768px){
        margin-right: 5px;
      }
      @include sp{
        width: 100%;
        margin-bottom: 1rem;
        padding: 0 2.5px;
        border-radius: 5px;
      }
    }
    @include sp{
      form{
        flex-wrap: wrap;
        width: 100%;
      }
      select{
        margin: 0 0 1rem;
        width: calc(50% - 5px);
      }
      .m-search_inner{
        flex-wrap: wrap;
        flex-direction: column;
        height: auto;
        padding: 2rem 1rem;
        input[type=submit].search-submit {
          width: 100% !important;
          margin-left: 0;
        }
      }
    }
  }
}
.m-noti{
  background-color: #1E1C1C;
  height: 138px;
  width: 100%;
  text-align: center;
  @include flex-center;
  font-size: 2rem;
  color: #ffff;
  @include sp{
    font-size: 1.5rem;
    margin-top: 0;
  }
}