.contact{
    width: 100%;
    padding: 5rem 0;
    background-color: #F1F0F0;
    .l-container{
        @include flex-jbetween;
        flex-wrap: wrap;
        margin: 2rem auto 5rem;
        .map{
            width: calc(60% - 10px);
            background-color: white;
            padding: 10px;
            border-radius: 10px;
            height: 500px;
            z-index: 1;
            @include sp{
                width: 100%;
                height: 350px;
                order: 2;
            }
        }
        .form{
            width: calc(40% - 10px);
            background-color: white;
            padding: 25px;
            border-radius: 10px;
            @include sp{
                width: 100%;
                order: 1;
                margin-top: 2rem;
            }
            h3{
                font-size: 2.9rem;
                font-weight: 600;
                margin-bottom: 2rem;
            }
            td{
                line-height: 1.5;
                font-weight: 500;
                font-size: 1.5rem;
                cursor: pointer;
            }
            tr{
                padding: 1rem 0;
                border-bottom: 1px solid #8b8b8b;
                display: block;
            }
        }
        .c-info{
            margin: 0 auto;
        }

    }

}