.caras {
    &-intro {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 170px;
        @include sp {
            display: block;
        }
        &__img {
            min-width: 881px;
            @include sp {
                min-width: unset;
            }
        }
        &__content {
            margin-right: 195px;
            @include sp {
                margin-right: unset;
                padding: 16px;
            }
            h3 {
                font-weight: 700;
                font-size: 48px;
                line-height: 59px;
                text-align: justify;
                color: #1E1C1C;
                margin-bottom: 14px;
                @include sp {
                    font-size: 3rem ;
                }
            }
            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                text-align: justify;
                color: #1E1C1C;
            }
        }
        &__promise {
            position: absolute;
            bottom: -170px;
            left: 0;
            width: 100%;
            @include sp {
                bottom: unset;
                padding: 16px;
            }
            &__item {
                @include sp {
                    width: calc(100% / 2);
                    margin-bottom: 20px;
                }
                text-align: center;
                p {
                    margin-top: 20px;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 24px;
                    text-align: justify;
                    color: #000000;
                    @include sp {
                        text-align: center;
                    }
                }
            }
            &__inner {
                display: flex;
                align-items: center;
                gap: 113px;
                justify-content: center;
                width: 100%;
                padding: 50px 88px;
                width: 1222px;
                background: #FFFFFF;
                box-shadow: 0px 0px 20px rgba(104, 104, 104, 0.25);
                border-radius: 10px;
                margin: 0 auto;
                @include sp {
                    padding: unset;
                    width: 100%;
                    flex-wrap: wrap;
                    gap: unset;
                    padding: 16px 16px 0 16px;
                }
            }
        }
        .l-container {
            position: relative;
        }
        &__video {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 90px;
            @include sp {
                margin-top: 370px;
            }
            video {
                width: 100%;
                height: 687px;
                @include sp {
                    height: 300px;
                }
            }
        } 
        &__service {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            @include sp {
                flex-wrap: wrap;
            }
            &__item {
                svg {
                    width: 100px;
                    height: 100px;
                }
                width: calc(100% / 3);
                text-align: center;
                background: #FFFFFF;
                box-shadow: 0px 0px 20px rgba(104, 104, 104, 0.25);
                border-radius: 10px;
                padding: 40px;
                @include sp {
                    width: 100%;
                }
                h3 {
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 29px;
                    text-align: center;
                    color: #000000;
                    margin: 34px 0 8px 0;
                }
                p {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    text-align: center;
                    color: #000000;
                }
            }
        }  
        &__certify {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 58px 0 37px 0;
            h2 {
                font-weight: 300;
                font-size: 36px;
                line-height: 44px;
                text-align: center;
                color: #1E1C1C;
                text-transform: uppercase;
            }
            &__list {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 120px;
                @include sp {
                    flex-wrap: wrap;
                    gap: unset;
                }
            }
            &__item {
                @include sp {
                    width: calc(100% / 2);
                }
            }
        }
        &__target {
            background: #1E1C1C;
            &__list {
                display: flex;
                
            }
            &__item {
                width: calc(100% / 2);
                &__text {
                    width: calc(50% - 10px);
                    h3 {
                        font-weight: 300;
                        font-size: 36px;
                        line-height: 44px;
                        color: #FFFFFF;
                        margin-bottom: 26px;
                    }
                    p {
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 24px;
                        text-align: justify;
                        color: #FFFFFF;
                    }
                }
            }
            &__box {
                display: flex;
                justify-content: space-between;
                padding: 55px 30px;
            }
        }
    }
   
}