.m-job{
    margin: 3rem auto;
   h2.ttl{
    text-align:  center;
    font-size: 4rem;
    line-height: 1.3;
    font-style: italic;
    color: #EB6A6A;
    margin-bottom: 2rem;
   }
   p{
     font-size: 1.8;
     line-height: 1.4;
   }
   &.prosper{
     .m-job{
        &_inner {
            @include flex-jbetween;
            flex-wrap: wrap;
            .image{
                width: calc(50% - 10px);
                @include sp{
                    width: 100%;
                }
                ul{
                    @include flex-jbetween;
                    flex-wrap: wrap;
                    width: 100%;
                    li{
                        width: calc(50% - 10px);
                        margin: 5px auto;
                    }
                }

            }
            .content{
                width: calc(50% - 10px);
                @include sp{
                    width: 100%;
                }
                p{
                    font-size: 1.4rem;
                    font-weight: 300;
                    margin-bottom: 1rem;
                    &.ttl{
                        font-weight: 600;
                        font-size: 2.5rem;
                        line-height: 1.3;
                        margin-bottom: .5rem;
                    }
                }
            }
        }
     }
   }
}