.m-chat{
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  height: 70px;
  width: 70px;
  &_inner{
    width: 360px;
    height: 400px;
    max-width: 100%;
    visibility: hidden;
    transform: translateX(400%);
    background-color: white;
    border: 1px solid #c6ced6;
    transition: visibility 0.5s ;
    &.js-active{
      transform: translateX(0);
      visibility: visible;
      bottom: 12rem;
      right: 3rem;
      position: fixed;
      border-radius: 5px;
      form{
        @include flex-center;
        height: 100%;
      }
      .center{
        align-items: center;
        @include flex-center;
        flex-direction: column;
      }
      .ttl{
        text-align: center;
        font-size: 4rem;
      }
    }
  }
}