/*------------------------------------------------------------
	Footer
------------------------------------------------------------*/
.c-footer {
	width: 100%;
	padding: 8.5rem 0 10.6rem;
	text-align: center;
	background-color: #2B2929;
	color: #ffffffff;
	@include styleNormal;
	@include sp{
		padding: 50px 0;
	}
	&_top{
		@include flex-jbetween;
		padding: 0 -20px;
		> dl{
			@include flex;
			flex-direction: column;
			text-align: left;
			width: calc(25% - 40px);
			margin: 0 20px;
		}
		dt{
			text-align: left;
			@include styleDt;
			margin-bottom: 2rem;
		}
		dd{
			@include styleNormal;
			margin: 5px 0;
		}
		a{
			text-decoration: none;
			color: white;
			transition: 0.3 ease-out;
			&:hover{
				font-weight: bold;
			}
		}
	}
	&_copy{
		text-align: left;
		margin: 2.5rem 0 4rem;
		@include styleNormal;
	}
	&_bottom{
		@include flex-jbetween;
		margin-top: 10.62rem;
		align-items: center;
	}
	&_logo{
		max-width: 161px;
	}
	&_social{
		@include flex;
		align-items: center;
		dd{
			margin:17px 5px;
		}
		img{
			max-width: 39px;
			height: auto;
		}
	}
	&_certificates{
		dd{
			margin: 17px 10px;
		}
	}
}