/*------------------------------------------------------------
	Footer
------------------------------------------------------------*/
.c-footer {
	width: 100%;
	padding: 50px 0 150px;
	border-top: 4px solid $color-main;
	text-align: center;
	color: black;
	@include sp{
		padding: 50px 0;
	}
	.l-container{
		@include flex-jbetween;
		flex-wrap: wrap;
		text-align: left;
		font-weight: 700;
		a{
			color: black;
			text-decoration: none;
			font-size: 1.8rem;
			&:hover{
				color: $color-main;
			}
		}
		dl{
			width: 25%;
			padding: 0 25px;
			@include sp{
				width: 100%;
				margin: 10px 0;
				padding: 0;
			}
		}
		dt{
			font-size: 2.5rem;
			margin-bottom: 1.5rem;
			color: $color-main;
			@include sp{
				margin-bottom: 0.5rem;
			}
		}
		dd{
			font-weight: 400;
			font-size: 1.8rem;
		}
	}
	&_social{
		@include flex;
		width: 100% !important;
		padding: 15px 0 !important;
		@include sp{
			margin-top: 0;
			padding: 3px 0 0 !important;
		}
		dd{
			padding-right: 18px;
			img{
				width: 28px;
				height: 28px;
			}
		}
	}
}