/*------------------------------------------------------------
	Header
------------------------------------------------------------*/
.c-header {
	width: 100%;
	background: linear-gradient(269.85deg, #34A606 0.91%, rgba(52, 166, 6, 0.873744) 13.3%, rgba(52, 166, 6, 0.873744) 21.04%, rgba(52, 166, 6, 0.873744) 28.78%, rgba(52, 166, 6, 0.846641) 34.97%, rgba(52, 166, 6, 0.812761) 42.71%, rgba(52, 166, 6, 0.79603) 51.49%, rgba(52, 166, 6, 0.77733) 61.29%, rgba(52, 166, 6, 0.667143) 71.1%, rgba(74, 170, 7, 0.647137) 79.48%, rgba(82, 171, 8, 0.639579) 83.48%, rgba(90, 172, 8, 0.632125) 87.56%, rgba(99, 174, 9, 0.624464) 90.2%, rgba(124, 178, 10, 0.601622) 93.76%, rgba(148, 182, 11, 0.58) 97.09%, rgba(148, 182, 11, 0.58) 98.62%);
	transition: 0.3s ease-in-out;
	padding: 17px 0;
	position: relative;
	@include sp{
		padding: 15px 0;
	}
	.l-container, .nav-menu{
		@include flex-jbetween;
		align-items: center;
	}
	&__logo{
		a{
			text-decoration: none;
			h1{
				font-weight: 800;
				font-size: 2.1rem;
				line-height: 1;
				color: #FFFFFF;
			}
		}
	}

	.nav-menu{
		transition: 0.3s ease-in-out;
		&_item{
			font-size: 18px;
			line-height: 1.2;
			a{
				text-decoration: none;
				color: white;
				line-height: 1.3;
			}
			&.is_active{
				a{
					text-decoration: underline;
				}
			}
			&:not(:last-child){
				padding-right: 26px;
			}
			&:hover{
				> a{
					color: black;
				}
			}
			@include sp{
				padding: 8px 0;
			}
			&__card {
				position: relative;
				a{
					color: $color-main;
				}
			}
		}
		@include sp{
			display: none;
		}
		&.js-active{
			@include sp{
				display: flex;
				flex-direction: column;
				align-items: start;
				position: absolute;
				left: 0;
				z-index: 99;
				background-color: $color-main;
				width: 100vw;
				height: 100vh;
				top: 54px;
				justify-content: flex-start;
				padding: 15px;
			}
		}
		&_mobile{
			display: none;
			transform: scale(1.1);
			@include sp{
				display: flex;
				align-items: center;
			}
			#close{
				display: none;
			}
			&.js-active{
				#open{
					display: none;
				}
				#close{
					display: block;
				}
			}
		}

	}
}