/*------------------------------------------------------------
	Header
------------------------------------------------------------*/
.c-header {
	width: 100%;
	transition: 0.3s ease-in-out;
	padding: 17px 0;
	position: relative;
	@include sp{
		padding: 15px 0;
	}
	&_top{
		text-align: center;
		padding-bottom: 17px;
		p{
			font-size: 2rem;
			line-height: 1.2;
			span{
				color: #EB6A6A;
				font-weight: bold;
			}
		}
	}
	&_inner{
		@include flex-jbetween;
		padding: 10px 0;
		align-items: center;
	}
	&_menu{
		@include flex;
		li{
			padding: 10px 23px;
			a{
				text-decoration: none;
				font-size: 1.8rem;
				font-weight: 500;
				color: #2B2929;
				&:hover{
					color: #EB6A6A;
				}
			}
		}
	}
	&_icon{
		@include flex;
		align-items: center;
		li{
			padding: 10px;
			svg{
				fill: #2B2929;
			}
			&:hover{
				svg{
					fill: #EB6A6A;
				}
			}
		}
	}
	&_bottom{
		@include flex-jbetween;
		background: #F5F5F5;
	}
	&_logo{
		img{
			width: 79px;
			height: 57px;
		}
	}
}