/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
.l-main {
	width: 100%;
	color: $color1;
	@include flex-center;
}
.l-container, article{
	width: 100%;
	margin: 0 auto;
	@include min(768px){
		max-width: 1200px;
	}
	@include sp{
		padding: 0 5%;
	}
}
article{
	margin: 5rem auto;
	@include sp{
		margin: 2rem auto;
	}
}