extends _layout/default

block vars
  -title        = 'Top'
  -description  = ''
  -keywords     = ''
  -pageID       = 'top'
  -path         = ''
  -ispage       = 'category'


block container
  include _modules/block_search
  .m_noti
      .l-container
        p Bạn đang “bị lạc đường” trong nguồn kiến thức của Caras? Bạn bị bối rối? Click chọn các chủ đề bên dưới để tìm đúng bài viết bạn thực sự quan tâm!
  include _modules/block_category_list
  include _modules/block_news


