extends _layout/default

block vars
  -title        = 'Top'
  -description  = ''
  -keywords     = ''
  -pageID       = 'top'
  -path         = ''
  -ispage       = 'category'
block before_page
    link(rel="preload" as="style" type='text/css' href='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css' onload="this.onload=null;this.rel='stylesheet'")
    noscript
      link( rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
block after_page
    script(type='text/javascript' src='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js')
    script.
      $(document).ready(function() {
        var tabArray = ['#tab-welcome'];
        $('.js-chatbot .tab').each(function(){
          var _this = $(this);
          _this.find('.btn-next').click(function(){
            var screenValue = _this.find('.radiobtn input:checked').data('value');
            tabArray.push(screenValue);
            $('.js-chatbot .tab').hide();
            $('.js-chatbot .tab' + screenValue).show();
          })
          _this.find('#prevBtn').click(function(){
            var screenBack = tabArray[tabArray.length - 2];
            tabArray.pop();
            $('.js-chatbot .tab').hide();
            $('.js-chatbot .tab' + screenBack).show();
            if($.isEmptyObject(tabArray)) {
              tabArray.push('#tab-welcome');
            }
          })
        })
      });

block container
