extends _layout/default

block vars
  -title        = 'Top'
  -description  = ''
  -keywords     = ''
  -pageID       = 'top'
  -path         = ''
  -ispage       = 'category'
block before_page
    link(rel="preload" as="style" type='text/css' href='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css' onload="this.onload=null;this.rel='stylesheet'")
    noscript
      link( rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
block after_page
    script(type='text/javascript' src='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js')
    script.
      $(document).ready(function() {
        var tabArray = ['#tab-welcome'];
        $('.js-chatbot .tab').each(function(){
          var _this = $(this);
          _this.find('.btn-next').click(function(){
            var screenValue = _this.find('.radiobtn input:checked').data('value');
            tabArray.push(screenValue);
            $('.js-chatbot .tab').hide();
            $('.js-chatbot .tab' + screenValue).show();
          })
          _this.find('#prevBtn').click(function(){
            var screenBack = tabArray[tabArray.length - 2];
            tabArray.pop();
            $('.js-chatbot .tab').hide();
            $('.js-chatbot .tab' + screenBack).show();
            if($.isEmptyObject(tabArray)) {
              tabArray.push('#tab-welcome');
            }
          })
        })
      });

block container
  .chatbot
    .chatbot_container
      .chatbot_screen#screen1
        .chatbot_head
          a.btn-back(href="javascript:;")
          p HỖ TRỢ CHỌN LENS
          a.btn-close(href="javascript:;")
        .chatbot_body
          p SCREEN 1
          label.radio
            input(type="radio" name="screen1" data-value="#screen2" value="ABC")
            label ABC
          label.radio
            input(type="radio" name="screen1" data-value="#screen3" value="BCD")
            label BCD
        .chatbot_btn
          a.btn-next(href="javascript:;") TIẾP TỤC
      .chatbot_screen#screen2
        .chatbot_head
          a.btn-back(href="javascript:;" data-back="#screen1") BACK
          p HỖ TRỢ CHỌN LENS
          a.btn-close(href="javascript:;")
        .chatbot_body
          p SCREEN 2
          label.radio
            input(type="radio" name="screen2" data-value="#screen1" value="ABC")
            label ABC
          label.radio
            input(type="radio" name="screen2" data-value="#screen3" value="BCD")
            label BCD
        .chatbot_btn
          a.btn-next(href="javascript:;") TIẾP TỤC
      .chatbot_screen#screen3
        .chatbot_head
          a.btn-back(href="javascript:;")
          p HỖ TRỢ CHỌN LENS
          a.btn-close(href="javascript:;")
        .chatbot_body
          p SCREEN 3
          label.radio
            input(type="radio" name="screen3" data-value="#screen1" value="ABC")
            label ABC
          label.radio
            input(type="radio" name="screen3" data-value="#screen2" value="BCD")
            label BCD
        .chatbot_btn
          a.btn-next(href="javascript:;") TIẾP TỤC
