extends _layout/default

block vars
  -title        = 'contact'
  -description  = ''
  -keywords     = ''
  -pageID       = 'top'
  -path         = ''
  -ispage       = 'contact'
block before_page
    link(rel="preload" as="style" type='text/css' href='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css' onload="this.onload=null;this.rel='stylesheet'")
    link(rel="preload" as="style" type='text/css' href='https://unpkg.com/leaflet@1.0.3/dist/leaflet.css' onload="this.onload=null;this.rel='stylesheet'")
    link(rel="preload" as="style" type='text/css' href='https://ppete2.github.io/Leaflet.PolylineMeasure/Leaflet.PolylineMeasure.css' onload="this.onload=null;this.rel='stylesheet'")
    noscript
      link( rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
block after_page
    script(type='text/javascript' src='//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js')
    script(type='text/javascript' src='https://unpkg.com/leaflet@1.0.3/dist/leaflet.js')
    script(type='text/javascript' src='https://ppete2.github.io/Leaflet.PolylineMeasure/Leaflet.PolylineMeasure.js')
    script.
      $(document).ready(function(){
        $('.slick-sure').not('.slick-initialized').slick({
          infinite: true,
          slidesToShow: 3,
          slidesToScroll: 1,
          dots: false,
          arrows: false,
          lazyLoad: 'ondemand',
          responsive: [
             {
              breakpoint: 992,
              settings: {
                slidesToShow: 2,
                slidesToScroll: 2
              }
            },
            {
              breakpoint: 768,
              settings: {
                slidesToShow: 1,
                slidesToScroll: 1
              }
            }
          ]
        });
      });
      var map = L.map('map').setView([10.766932, 106.679240], 14);
      var OpenStreetMap_Mapnik = L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
      }).addTo(map);

      function addRowTable(code, coords){
        var tr = document.createElement("tr");
        var td = document.createElement("td");
        td.textContent = code;
        tr.appendChild(td);
        tr.onclick = function(){map.flyTo(coords, 18);};
        document.getElementById("t_points").appendChild(tr);
      }
      var buffers = [];
      function addMarker(code,lat,lng){
        var p = L.marker([lat,lng]);
        p.title = code;
        p.alt = code;
        p.bindPopup(code);
        p.addTo(map);
        addRowTable(code, [lat,lng]);
        var c = L.circle([lat,lng], {
          color: 'red',
          fillColor: '#f03',
          fillOpacity: 0.5,
          radius: 0
        }).addTo(map);
        buffers.push(c);
      }


      $(document).ready(function (){
        var points = [["619 Nguyễn Đình Chiểu, Phường 2, Quận 3, TP. Hồ Chí Minh",10.766932, 106.679240],
                      ["350C Hoàng Văn Thụ, Phường 4, Quận Tân Bình",10.7952279,106.6374614],
                      ["2 Phố Huế, Hoàn Kiếm, Hà Nội",21.0197083,105.8496002],];
        for (var i=0; i < points.length; i++){
          addMarker(points[i][0],points[i][1],points[i][2]);
        }
      });

      L.control.scale({maxWidth:240, metric:true, position: 'bottomleft'}).addTo(map);

      L.control.polylineMeasure({position:'topleft', imperial:false, clearMeasurementsOnStop: false, showMeasurementsClearControl: true}).addTo(map);

block container
  .l-container
    include _modules/sure_contact
  .contact
    .l-container
      .form
        .form_inner
          <h3 >HỆ THỐNG CỬA HÀNG CARAS</h3>
          <table class="table table-bordered">
            <tbody id="t_points"></tbody>
          </table>
      .map#map

  .l-container
    include _modules/info


