extends _layout/default

block vars
  -title        = 'Top'
  -description  = ''
  -keywords     = ''
  -pageID       = 'top'
  -path         = ''
block before_page
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css")
block after_page
  script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js")
  script.
    $('.owl-carousel').owlCarousel({
      loop: true,
      margin: 10,
      nav: false,
      navText: [
        "<i class='fa fa-caret-left'></i>",
        "<i class='fa fa-caret-right'></i>"
      ],
      dot: false,
      autoplay: true,
      items: 1,
      autoplayHoverPause: true,
    })

block container
  .owl-carousel.owl-theme
    .item
      img(src=path+"assets/images/slider.jpg", alt="", sizes="", srcset="")
    .item
      img(src=path+"assets/images/slider.jpg", alt="", sizes="", srcset="")
  