.m-search
  .l-container
    p.ttl Tổng hợp bài viết của CARAS LENS
    .m-search_inner
      form
        input(type="text" placeholder="Bạn đang tìm kiếm" id="search")
        input(type="submit" class="search-submit" value="search")
      ul
        li.key KEYWORD
        li
          a(hrer="#") Full-time
        li
          a(hrer="#") Part-time
        li
          a(hrer="#") Nhân viên Bán hàng
        li
          a(hrer="#") Designer
        li
          a(hrer="#") Hà Nội
        li
          a(hrer="#") Hồ Chí Minh