.btn_area
    a.btn_area__add(onclick="quickview(1)")
        img.lazyload(src=path+"assets/images/ico_eye.svg" data-src=path+"assets/images/ico_eye.svg" alt='View' loading="lazy" width="16" height="20")
    a.btn_area__del(href='#')
        img.lazyload(src=path+"assets/images/basket__icon.svg" data-src=path+"assets/images/basket__icon.svg" alt='add to cart' loading="lazy" width="25" height="25")