footer.c-footer
  .l-container
    dl
      dt Giới thiệu
      dd Future Brand Việt Nam cung cấp các khóa học trực tuyến e-learning và các nội dung chuyên về lĩnh vực Branding, Marketing
      dl.c-footer_social
        dd
          a(href="#")
            img.lazy-loaded-image(loading="lazy", data-src=path+"assets/images/facebook.png")
        dd
          a(href="#")
            img.lazy-loaded-image(loading="lazy", data-src=path+"assets/images/twitter.png")
        dd
          a(href="#")
            img.lazy-loaded-image(loading="lazy", data-src=path+"assets/images/youtube.png")

    dl
      dt Danh mục
      dd
        a(href="#") Khóa học
      dd
        a(href="#") Blog Brannding
      dd
        a(href="#") Blog Marketing
      dd
        a(href="#") Ebook
    dl
      dt Trợ giúp
      dd
        a(href="#") Đăng ký tài khoản
      dd
        a(href="#") Điều khoản sử dụng
      dd
        a(href="#") Quyền riêng tư
    dl
      dt Liên hệ
      dd 177 Nguyễn Thị Sáu, Thành Lộc, quận 12, thành phố Hồ Chí Minh
      dd Điện thoại: 0795263260
      dd Email: futurebrandvn@gmail.com
