.m-product
        .m-product_top
            h4 VỊ TRÍ TUYỂN DỤNG
        ul.m-new__slick.job.w-100
          include new-item_job
          include new-item_job
          include new-item_job
          include new-item_job
          include new-item_job
          include new-item_job