.c-tab 
    .c-tab_top 
        button.button.tablinks(onclick="openTab(event, 'cart')") GIỎ HÀNG
        button.button.tablinks(onclick="openTab(event, 'parameter')") THÔNG SỐ
        button.button.tablinks(onclick="openTab(event, 'insurane')") BẢO HÀNH
        button.button.tablinks(onclick="openTab(event, 'review')") REVIEW (24)
    .c-tab_content  
        .c-tab_item#cart  
            h3 GIỎ HÀNG
        .c-tab_item#parameter 
            h3 GIỎ HÀNG     
        .c-tab_item#insurane  
            h3 GIỎ HÀNG
        .c-tab_item#review 
            h3 GIỎ HÀNG              