.c-tab.c-tabCart
    .c-tab_top
        button.button.tablinks.active(onclick="openTab(event, 'cart')") GIỎ HÀNG
        button.button.tablinks(onclick="openTab(event, 'parameter')") Giao Hàng
        button.button.tablinks(onclick="openTab(event, 'insurane')") Hoàn Tất
    .c-tab_content
        .c-tab_item#cart(style="display: block;")
            .c-tabCart_inner
                ul
                    li
                .c-sidebar
                    .c-sidebar_item
                        h4 TỔNG TIỀN
                        .coupon
                            input(type="text" name="coupon_code" class="input-text" id="coupon_code" value="" placeholder="Mã ưu đãi")
                            button(type="submit" class="button" name="apply_coupon" value="NHẬP") NHẬP
                        p.price
                            span Tạm tính:
                            span 1.100.000VND
                        p.price.big
                            span Thành tiền:
                            span 1.100.000VND
                        p.vat (Giá đã bao gồm VAT) 
                        a(href="").m-btn.add-cart  ĐẶT HÀNG 

                    .c-sidebar_item
                        p.how Bảo vệ mắt sáng khỏe cùng nước nhỏ mắt chuyên dụng thay vì sử dụng loại nước nhỏ mắt thông thường. Bởi vì:
                        .how_item 
                            svg(width='42' height='28' viewBox='0 0 42 28' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(fill-rule='evenodd' clip-rule='evenodd' d='M0.833374 14C4.00504 5.95167 11.8334 0.25 21 0.25C30.1667 0.25 37.995 5.95167 41.1667 14C37.995 22.0483 30.1667 27.75 21 27.75C11.8334 27.75 4.00504 22.0483 0.833374 14ZM37.17 14C34.145 7.82167 27.9484 3.91667 21 3.91667C14.0517 3.91667 7.85504 7.82167 4.83004 14C7.85504 20.1783 14.0334 24.0833 21 24.0833C27.9667 24.0833 34.145 20.1783 37.17 14ZM21 9.41667C23.53 9.41667 25.5834 11.47 25.5834 14C25.5834 16.53 23.53 18.5833 21 18.5833C18.47 18.5833 16.4167 16.53 16.4167 14C16.4167 11.47 18.47 9.41667 21 9.41667ZM12.75 14C12.75 9.45333 16.4534 5.75 21 5.75C25.5467 5.75 29.25 9.45333 29.25 14C29.25 18.5467 25.5467 22.25 21 22.25C16.4534 22.25 12.75 18.5467 12.75 14Z' fill='#2B2929')
                            p  Thuốc nhỏ chuyên dụng sẽ phù hợp với từng loại kính áp tròng mà bạn đang đeo nên giúp cho đôi mắt khỏe mạnh hơn.  
                        .how_item 
                            svg(width='42' height='28' viewBox='0 0 42 28' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(fill-rule='evenodd' clip-rule='evenodd' d='M0.833374 14C4.00504 5.95167 11.8334 0.25 21 0.25C30.1667 0.25 37.995 5.95167 41.1667 14C37.995 22.0483 30.1667 27.75 21 27.75C11.8334 27.75 4.00504 22.0483 0.833374 14ZM37.17 14C34.145 7.82167 27.9484 3.91667 21 3.91667C14.0517 3.91667 7.85504 7.82167 4.83004 14C7.85504 20.1783 14.0334 24.0833 21 24.0833C27.9667 24.0833 34.145 20.1783 37.17 14ZM21 9.41667C23.53 9.41667 25.5834 11.47 25.5834 14C25.5834 16.53 23.53 18.5833 21 18.5833C18.47 18.5833 16.4167 16.53 16.4167 14C16.4167 11.47 18.47 9.41667 21 9.41667ZM12.75 14C12.75 9.45333 16.4534 5.75 21 5.75C25.5467 5.75 29.25 9.45333 29.25 14C29.25 18.5467 25.5467 22.25 21 22.25C16.4534 22.25 12.75 18.5467 12.75 14Z' fill='#2B2929')
                            p  Thuốc nhỏ chuyên dụng sẽ phù hợp với từng loại kính áp tròng mà bạn đang đeo nên giúp cho đôi mắt khỏe mạnh hơn.  
                        .how_item 
                            svg(width='42' height='28' viewBox='0 0 42 28' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(fill-rule='evenodd' clip-rule='evenodd' d='M0.833374 14C4.00504 5.95167 11.8334 0.25 21 0.25C30.1667 0.25 37.995 5.95167 41.1667 14C37.995 22.0483 30.1667 27.75 21 27.75C11.8334 27.75 4.00504 22.0483 0.833374 14ZM37.17 14C34.145 7.82167 27.9484 3.91667 21 3.91667C14.0517 3.91667 7.85504 7.82167 4.83004 14C7.85504 20.1783 14.0334 24.0833 21 24.0833C27.9667 24.0833 34.145 20.1783 37.17 14ZM21 9.41667C23.53 9.41667 25.5834 11.47 25.5834 14C25.5834 16.53 23.53 18.5833 21 18.5833C18.47 18.5833 16.4167 16.53 16.4167 14C16.4167 11.47 18.47 9.41667 21 9.41667ZM12.75 14C12.75 9.45333 16.4534 5.75 21 5.75C25.5467 5.75 29.25 9.45333 29.25 14C29.25 18.5467 25.5467 22.25 21 22.25C16.4534 22.25 12.75 18.5467 12.75 14Z' fill='#2B2929')
                            p  Thuốc nhỏ chuyên dụng sẽ phù hợp với từng loại kính áp tròng mà bạn đang đeo nên giúp cho đôi mắt khỏe mạnh hơn.  
                        .how_item 
                            svg(width='42' height='28' viewBox='0 0 42 28' fill='none' xmlns='http://www.w3.org/2000/svg')
                                path(fill-rule='evenodd' clip-rule='evenodd' d='M0.833374 14C4.00504 5.95167 11.8334 0.25 21 0.25C30.1667 0.25 37.995 5.95167 41.1667 14C37.995 22.0483 30.1667 27.75 21 27.75C11.8334 27.75 4.00504 22.0483 0.833374 14ZM37.17 14C34.145 7.82167 27.9484 3.91667 21 3.91667C14.0517 3.91667 7.85504 7.82167 4.83004 14C7.85504 20.1783 14.0334 24.0833 21 24.0833C27.9667 24.0833 34.145 20.1783 37.17 14ZM21 9.41667C23.53 9.41667 25.5834 11.47 25.5834 14C25.5834 16.53 23.53 18.5833 21 18.5833C18.47 18.5833 16.4167 16.53 16.4167 14C16.4167 11.47 18.47 9.41667 21 9.41667ZM12.75 14C12.75 9.45333 16.4534 5.75 21 5.75C25.5467 5.75 29.25 9.45333 29.25 14C29.25 18.5467 25.5467 22.25 21 22.25C16.4534 22.25 12.75 18.5467 12.75 14Z' fill='#2B2929')
                            p  Thuốc nhỏ chuyên dụng sẽ phù hợp với từng loại kính áp tròng mà bạn đang đeo nên giúp cho đôi mắt khỏe mạnh hơn.                              
