.c-tab.c-tabCart
    .c-tab_top
        button.button.tablinks.active(onclick="openTab(event, 'cart')") GIỎ HÀNG
        button.button.tablinks(onclick="openTab(event, 'parameter')") Giao Hàng
        button.button.tablinks(onclick="openTab(event, 'insurane')") Hoàn Tất
    .c-tab_content
        .c-tab_item#cart(style="display: block;")
            .c-tabCart_inner
                ul
                    li
                .info
                    .info_item
                        h4 TỔNG TIỀN


